body {
  font-size: 18px;
  font-family: $primary-font;
}

.app {
  max-width: 1920px;
  max-height: 1080px;
  background-color: $primary;
  min-height: 100vh;
  padding: 0 33px;
  position: relative;

  &__main {
    display: flex;
  }
}

.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid $orange-yellow;
  color: $orange-yellow;
  border-radius: 10px;
  background-color: white;
  padding: 10px 55px;
  cursor: pointer;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 32px;
}
.sub__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.header__search {
  width: calc(437px - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px 10px 16px;
  border-radius: 12px;
  background-color: $search-color;
  height: calc(48px - 20px);
  input {
    width: 361px;
    font-size: 16px;
    background-color: inherit;
    line-height: 19.5px;
    font-style: italic;
    color: $search-text;
  }
  img,
  i {
    cursor: pointer;
  }
}

.table__container {
}
.table__list {
  max-width: 1567px;
  width: 100%;
  height: 624px;
  // overflow-x: scroll;
  table {
    // min-width: 120%;
    width: 100%;
  }
  tr {
    font-size: 14px;
    line-height: 22px;
  }
  thead {
    width: 100%;
    background-color: $gray-light;

    tr {
      td {
        padding: 11px 0;
      }
    }
  }

  thead,
  tbody {
    tr {
      cursor: pointer;
      &:nth-child(even) {
        background-color: $table-item;
      }
      td {
        padding: 16px 0;
        // height: fit-content;
      }
      td {
        // display: inline-block;
        min-width: 50px;

        p {
          max-height: 20px;
          max-width: 180px;
          -webkit-line-clamp: 1;
          overflow: hidden;
          white-space: nowrap;
          visibility: visible;
          text-overflow: ellipsis;
        }
      }

      .tb__stt {
        // padding: 0 40px 0 45px;
        text-align: center;
      }
      .tb__code {
      }
      .tb__quantity {
        // padding: 0 50px 0 40px;
      }
      .tb__name {
      }
      td {
        border-collapse: collapse;
      }
      .tb__status {
        padding: 8px 12px;
        border-radius: 4px;
        display: flex;
        gap: 8px;
        width: fit-content;
        border: 1px solid black;
        align-items: center;
        line-height: 14.63px;
        span {
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
      .tb__status--expire {
        border: 1px solid $expire-status;
        color: $expire-status;
        background-color: $expire-status-2;
        span {
          background-color: $expire-status;
        }
      }
      .tb__status--used {
        border: 1px solid $used-status;
        background-color: $used-status-2;
        color: $used-status;
        span {
          background-color: $used-status;
        }
      }
      .tb__status--unused {
        background-color: $unused-status-2;
        color: $unused-status;
        border: 1px solid $unused-status;
        span {
          background-color: $unused-status;
        }
      }
      .tb__expire {
      }
      .tb__start {
        // padding: 0 50px;
      }
      .tb__port {
      }
      .tb__expire,
      .tb__start {
        // text-align: right;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $gray;
      }
      &:hover i {
        opacity: 1;
      }
      font-weight: 500;
      td {
        i {
          font-size: 20px;
          color: $text-light;
          opacity: 0;
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
.thead-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: center;
  padding: 54px 0 69px 0;
  flex-grow: 1;
  align-items: flex-end;

  li {
    color: $text-light;
    opacity: 0.7;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  li.paginate__item:hover,
  li.active {
    border: 1px solid $orange-yellow;
    color: $orange-yellow;
  }
  .prev {
    margin-right: 10px;
  }
  .next {
    margin-left: 10px;
  }
  .prev:hover,
  .prev.active,
  .next:hover,
  .next.active {
    color: $orange-yellow;
  }
}
.layer {
  background-color: black;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  z-index: 1;
  transition: 0.2s;
  visibility: hidden;

  &--display {
    visibility: visible;
    opacity: 0.5;
  }
}
.label__checkbox {
  display: flex!important;
  align-items: center;
  .radio {
    width: 18px;
    height: 18px;
    border: 2px solid $checkbox;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: white;

    &__check{
      border-radius: 50%;
      background-color: white;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }
  }
  input:checked ~ .radio > .radio__check{
    background-color: $checkbox;
    animation: checkbox 0.2s forwards;
  }
  @keyframes checkbox {
    0%{
      width: 90%;
      height: 90%;
    }
    50%{
      width: 60%;
      height: 60%;
    }
    100%{
      width: 100%;
      height: 100%;
    }
  }
  .text__checkhox {
    display: inline-block;
  }
}
@media screen and (max-width: 1540px) {
  .table__list {
    width: 100%;
    table {
      min-width: 100%;
    }
  }
}
