$primary: #f9f6f4;
$search-color: #ededed;
$search-text: #1e0d03;
$yellow: #ffb800;
$gray: #ededed;
$gray-light: #f7f7f8;
$border: #a5a8b1;
$used-status: #919dba;
$unused-status: #03ac00;
$expire-status: #fd5959;
$used-status-2: #eaf1f8;
$unused-status-2: #def7e0;
$expire-status-2: #f8ebe8;

$gray-list: #f7f8fb;
$thead-color: #f1f4f8;
$orange-yellow: #ff993c;
$text-light: #1e0d03;
$table-item: #f7f8fb;
$blue: #4f75ff;
$orange: #ff8a48;
$checkbox: #27aef9;
$primary-font: "Montserrat", sans-serif;

$date-title: #c55e00;
$date-text: #23221f;
$date-active: #ffba7b;
$date-line: #FFD2A8;
